nav a {
  text-decoration: none;
  color: white;
}



@media screen and (min-width: 768px) {
  .magic-cards {
    position: absolute;
    bottom: -135px;
    width: 100%;
  }

  #hero {
    padding-bottom: 65px;
    margin-bottom: 150px;
  }
}